*

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(#046a9a, #13c5ec);
}
.card{
    position: relative;
    width: 320px;
    height: 450px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 15px 35px rgba(0,0,0,0.25);
}
.card .poster{
    position: relative;
    overflow: hidden;
}
.card .poster::before{
    content: '';
    position: absolute;
    bottom: -180px;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg,#046a9a 30%,transparent);
    transition: 0.5s;
    z-index: 1;
}
.card:hover .poster::before{
    bottom: 0px;
}
.card .poster img{
    width: 100%;
    transition: 0.5s;
}
.card:hover .poster img{
    transform: translateY(-30px);
    filter: blur(5px);
}
.card .details{
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px;
    width: 100%;
    z-index: 2;
    transition: 0.5s;
}
.card:hover .details{
    bottom: 30px;
}
.card .details h1{
    color: white;
    font-size: 50px;
}
.card .details h3{
    font-size: 14px;
    color: white;
    padding-bottom: 10px;
}
.card .details h4{
    position: relative;
    margin-bottom: 9px;
    color: #fad301;
}
.actors{
    padding-bottom: 150px;
    padding-left: 20px;
    color: rgba(34, 2, 54, 0.91);
}